<div class="row col-12 p-0 m-0 " style="heigth:100%">




  <div class="content row col-12 col-sm-8 mt-5 " style="">

      <div class="col-md-6 col-lg-6 col-xl-4 mb-3" *ngFor="let streetart of allItems">

        <div class="card">

          <h4 class="card-title text-center p-1 bg-primary text-white" name="autor">{{streetart.streetartAutor}}</h4>
          <div class="container row">
            <img style="width: 200px ; height: 200px" src="{{streetart.streetartPicture}}" class="image mx-auto">
          </div>
        </div>
      </div>

   <!-- pager -->
      <ul class="row col-12  ml-5 mx-auto mt-5 pagination" style="bottom : 0;margin-top:10px;" *ngIf="pager.pages && pager.pages.length">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(1)">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(pager.currentPage - 1)">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a (click)="setPage(page)">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.currentPage + 1)">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.totalPages)">Last</a>
          </li>
      </ul>

</div>


</div>

